body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #B1A3E8;
  background-image: url('./src/images/background.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #546D85;
  text-decoration: none;
}

body, a:hover {
  color: #27323D;
}

h5{
  margin-top: 0;
}

.title, .addDancerButton{
  padding:5px 12px;
  float: left;
  color: #546D85;
}

.title, .lineUpButton{
  padding:5px 12px;
  float:right;
  color: #546D85;
}

.topbar{
  height:32px;
  background-color: #E8D2A3;
}

.title{
  background-color: #E8D2A3;
}

.dancer{
  border: 50px solid red;
  border-radius:50px;
  width: 50px;
  height: 50px; 
  position:absolute;
}

.line{
  height: 100px;
  width: 100px;
  border: none;
  position:absolute;
}

.crazy{
  height: 100px;
  width: 100px;
  border: none;
  position:absolute;
}

.rainbow {
  height: 100px;
  width: 100px;
  border: none;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.emoji {
  height: 100px;
  width: 100px;
  border: none;
  position: absolute;
}

.partypooper{
  float: left;
}
