body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #B1A3E8;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #546D85;
  text-decoration: none;
}

body, a:hover {
  color: #27323D;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  color: #546D85;
}

.title, .lineUpButton{
  padding:5px 12px;
  float:right;
  color: #546D85;
}

.topbar{
  height:32px;
  background-color: #E8D2A3;
}
.title{
  background-color: #E8D2A3;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}